:root {
    --color-primary: #374D65;
    --color-primary-light: #3B6D87;
    --color-secondary: #85A4A5;
    --color-red: #CB6161;
    --color-neutral-beige: #e2e2e2;
    --color-peach: peachpuff;

    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Source Code Pro", Menlo, Consolas, monospace;
}

html {
  font-family: var(--font-primary);
}
