:root {
    --color-primary: #374D65;
    --color-primary-light: #3B6D87;
    --color-secondary: #85A4A5;
    --color-red: #CB6161;
    --color-green: #9dc183;
    --color-neutral-beige: #e2e2e2;

    --font-primary: "Montserrat", sans-serif;
}

html {
  font-family: var(--font-primary);
}
