.btn-purchase {
  background-color: var(--color-primary-light);
  color: #fff;
  text-align: center;
  transform: translate(50%);
  padding: 12px;
  border-radius: 8px;
  width: 50%;
  transform: translate(50%);
}

.btn-purchase:hover {
  background-color: var(--color-secondary);
  transition-duration: .3s;
}

.btn-air {
  padding: 10px;
  border-bottom: 3px solid #fff;
  color: #fff;
  text-decoration: none;
}

.btn-air:hover {
  padding: 10px;
  transition-duration: .5s;
  background-color: var(--color-secondary);
  color: #fff;
  border-radius: 8px;
  border-bottom: none;
}
