.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-secondary);
}

.btn:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-secondary);
}

.btn-ghost:hover {
  color: var(--color-secondary);
}

.btn-light {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-primary);
}
