.btn-light {
  border-radius: 8px;
  padding: 0.2em;
}

.blue-bg{
  background-color: #374d65;
  color: #fff;
}

.blue {
  color: #374d65;
}

.white {
  color: #fff;
}

.beige-bg {
  background-color: var(--color-neutral-beige);
}

.page-width {
  max-width: 1200px;
  margin: 0 auto;
}

.page-height {
  max-height: 1200px;
  margin: 0 auto;
}

.border-bottom {
  border-bottom: 2px solid #000;
}

.border {
  border: 3px solid #000;
  border-radius: 8px;
  background-color: #fff;
}

.card {
  background-color: var(--color-neutral-beige);
}

.prod {
  width: 100%;
}

.large-screen {
  visibility: hidden;
  display: none;
}

.hover-box {
  color: #fff;
}

.hover-box-caption {
  bottom: -4em;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
  transition: all .2s linear;
}

.hover-box:hover .hover-box-caption,
.hover-box:focus .hover-box-caption {
  bottom: 0;
}

.hover-box-img {
  filter: none;
  transition: all .2s linear;
}

.hover-box:hover .hover-box-img,
.hover-box:focus .hover-box-img {
  filter: none;
  transition-duration: .2s;
  transform: scale(1.5);
}

.hover-box:focus {
  z-index: 10;
}

@media only screen and (min-width: 10em) {

  .small-screen {
    visibility: visible;
    display: block;
  }

}

@media only screen and (min-width: 60em) {

  .sign {
    display: none;
  }

  .large-screen {
    visibility: visible;
    display: block;
  }

  .hide, .small-screen {
    visibility: hidden;
    display: none;
  }

}
