#signup-email {
  padding: 1.2em;
}

.img-container {
  background-image: url(../images/assets/background.jpg);
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zodiac-container {
  background-image: url(../images/assets/zodiac-background.jpg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.inner-container {
  text-align: center;
  color: #fff;
  height: 300px;
}

.inner-container-2 {
  text-align: center;
  color: #fff;
  height: 600px;
}
