.purple-bg {
  background-color: var(--color-primary);
}

.title {
  margin-bottom: 1em;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.red-sale {
  color: #fff;
  background-color: #cb6161;
  display: block;
}

.sale {
  color: #fff;
  background-color: #cb6161;
}

input {
  visibility: visible;
}

label {
  visibility: visible;
}

.nav {
  margin: 0;
  padding: 0;
  display: none;
  background-color: var(--color-primary);
  text-decoration: none;
  text-align: center;
}

nav a {
  color: #fff;
  display: inline-block;
  background-color: transparent;
  text-decoration: none;
}

.nav a {
  display: block;
}

.nav a:hover {
  color: #fff;
  border-radius: 8px;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-label {
  cursor: pointer;
  width: 40px;
  display: inline-block;
}

.nav-open,
.nav-close {
  display: block;
  width:100%;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

@media only screen and (min-width: 10em) {

  h4, .sale {
    display: none;
  }

}

@media only screen and (min-width: 20em) {

  .red-sale {
    color: #fff;
    background-color: #cb6161;
    display: none;
  }

  h4, .sale {
    display: block;
  }

  .title {
    padding-bottom: 0;
    margin-bottom: 0;
    display: block;
    letter-spacing: 10px;
  }

}

@media only screen and (min-width: 60em) {

  .title {
    padding-bottom: 0;
    margin-bottom: 0;
    display: block;
    letter-spacing: 15px;
  }

  .nav-check ~ .nav {
    display: block;
  }

  .nav-open {
    visibility: hidden;
  }

  .nav-close {
    visibility: hidden;
  }

  .nav {
    visibility: visible;
  }

  nav {
    margin: 0;
    list-style-type: none;
    text-align: center;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    color: #fff;
    display: inline-block;
    background-color: transparent;
    text-decoration: none;
  }

  nav a:hover {
    color: #fff;
    border-radius: 8px;
  }

}
